[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
imbalance-learn = {git = "https://github.com/scikit-learn-contrib/imbalanced-learn.git"}
sounddevice = "*"
matplotlib = "*"
pynput = "*"
librosa = "*"
numba = "==0.48"
pyinstaller = "*"

[requires]
python_version = "3.8"
